<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>后台管理系统</title>
  <link rel="icon" href="/favicon.png" type="image/x-icon">
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=xPmKG0tTiZZUGs9i9Hhb0iZuhgH1NFzP"></script>
</head>

<body>
  <div id="root"></div>
</body>
<script>
  window.BMap = BMap
</script>
</html>